* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

/* forma1 */
.banner-login {
    /* background-color: #0000ff19; */

    /* glassmorfismo */

    /* background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px); */
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    margin-top: 5%;
    padding-bottom: 10%;
    
    width: 940px;
    margin: 35px 10px 50px 210px;
    border-radius: 20px;
    color: white;
   
  
}




body {


  background: rgb(0,0,255);
  background: linear-gradient(90deg, rgba(0,0,255,0.58) 0%, rgba(0,0,255,0.54) 9%, rgba(0,0,255,0.59) 20%, rgba(0,0,255,0.54) 32%, rgba(0,0,255,0.51) 41%, rgba(0,0,255,0.51) 54%, rgba(0,0,255,0.53) 55%, rgba(0,0,255,0.51) 61%, rgba(0,0,255,0.56) 66%, rgba(0,0,255,0.56) 72%, rgba(0,0,255,0.55) 81%, rgba(0,0,255,0.56) 89%, rgba(0,0,255,0.54) 94%, rgba(0,0,255,0.58) 97%);
  background-repeat: no-repeat;
} 

.menu {
    margin-bottom: 4%;
    
   
}

.banner-login .container {
    height: 141px;
   
    display: flex;
    align-items: center;
    justify-content: center;
   
    
  }


  /* logo da imagem */
  .div_logo .logo img {
    width: 200px;
    display: flex;
    padding: 0 0 75px 0;
    margin: 0 auto;
   
    
  }

  /* forma mais proxima do input */
  .banner-login .card {
    background-color: #3d3dff81;
    /* background-color: red; */
    height: 350px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
  }
  
  .banner-login a {
    color: white;
    text-decoration: none;
    
    
  }

  /* ------------------------------------------------------------------------------------ */
  .banner-login #div_erros_login {
    margin-top: 15px;
  }
  
  button {
    cursor: pointer;
  }
  
  /* FORMULARIO */
  
  input {
    height: 30px;
    
   
    border: 2px solid #1919c2;
    border-radius: 10px;
    
  }
  
  .btn {
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #0000ff82;
    width: 120px;
    align-self: center;

  }
  
  form {
    display: flex;
    flex-direction: column;

  }

  .loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
    
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;


  }
  

  