.banner-login {
    background-color: rgba(0, 0, 255, 0.222);
    margin-top: 5%;
    padding-bottom: 10%;
    padding-top: 10%;
  
    /* position:relative; */
    width: 940px;
    margin: 0 auto;
    border-radius: 20px;
    
   
}

.menu {
    margin-bottom: 4%;
   
}

.banner-login .container {
    height: 141px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .banner-login {
    color: rgba(0, 0, 255, 0.508)
  }

  .banner-login .card {
    background-color: #e5e5e5;
    height: 350px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

  }
  
  .banner-login a {
    color: white;
    text-decoration: none;
  }

  /* ------------------------------------------------------------------------------------ */
  .banner-login #div_erros_login {
    margin-top: 15px;
  }
  
  button {
    cursor: pointer;
  }
  
  /* FORMULARIO */
  
  input {
    height: 30px;
    
   
    border: 2px solid rgba(0, 0, 255, 0.508);
    border-radius: 10px;

    
    
  }
  
  .btn {
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: rgba(0, 0, 255, 0.508);
    width: 120px;
    align-self: center;

  }
  
  form {
    display: flex;
    flex-direction: column;
    
    margin-left: 80px;

  }

  .loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
    
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;


  }
  
