* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
}

main {
    background-color: #c0c0c013; 
    
}



.logo_login img{
    width: 120px;
  
}

.logo img{
    width: 100px;
    margin-left: 90px;
}

.menu {
background-color: rgba(0, 0, 255, 0.51);
display: flex;


}



.espaco {
    background-color: #c0c0c013;
    color: #c0c0c013;

}

.espaco2 {
    background-color: rgba(245, 245, 245, 0.027);
    width: 100%;
    height: 30px;
}

.menu .menu_1 {
display: flex;
justify-content: space-evenly;
align-items: center;
list-style-type: none;
width: 75%;

font-size: large;
font-weight: 400 ;
    

}

.menu .menu_1 a {
    color: whitesmoke;
    
}
.menu .menu_2 a {
    color: rgba(0, 0, 255, 0.51);
    font-size: large;
    font-weight: 500 ;
    
}


.menu .menu_2 {
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    list-style-type: none;
    width: 20%;
    margin-right: 100px;


    
}

.itens_2 ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.banner {
    
    padding-top: 20%;
    
    padding-left: 85%;
    margin-left: 5.6%;
    /* margin-top: 2.3%; */
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-image: url(../assets/imgs/cachorro_gato.jpg);
    background-position: center;
    background-size: cover
}

.opt ul {
    display: flex;
    list-style-type: none;
    
    justify-content: space-evenly;
    margin: 1%;
}

.opt {
    display: flex;
   
}

.opt .opt_1 {
    background-color: rgba(0, 0, 255, 0.508);
    
    padding: 14%;
    padding-bottom: 1.15%;
    padding-top: 0;
    margin-top: 2.3%;
    margin-left: 9.3%;
   margin-right: 1.5%;
    
    border-radius: 10px;
   

}
.opt .opt_1 a{
    
    text-decoration: none;
    color: white;
   
    font-size: 28px;
    
    
}


.opt .opt_2 {
    padding: 14%;
    padding-bottom: 1.15%;
    margin-right: 5%;
    padding-top: 0;
    margin-top: 2.3%;
    
    margin-left: 1.5%;
    background-color: rgba(0, 0, 255, 0.275);
   
   
    text-decoration: none;
    border-radius: 10px;
   
}
.opt .opt_2 a{
  
    font-size: 28px;    
    text-decoration: none;
    color: white;
    
   
    
}

.navbar div{
    padding-top: 3%;
    margin-left: 7%;
    margin-bottom: 1.5%;
 
    font-size: large;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.508);
}

.container {
    display: flex;   
}

.container .pet_1 {
   
    margin-left: 2%;
    flex-direction: column;
    border-radius: 10px; 
    position: relative;
    width: 220px;
    height: 320px;
    display: flex;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
}

.container .pet_1 img{
    
    width: 220px;
    border-radius: 10px; 
     height: 320px;

   
}

.container .pet_1_1 {
    margin-left: 5.5%;
    
    flex-direction: column;
    border-radius: 10px; 
    
    position: relative;
    width: 220px;
    height: 320px;
    display: flex;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
    
}



.container .pet_1_1 img{
     width: 220px;
    border-radius: 10px; 
    height: 320px;
    
}



/* .div_itens {
    
 } */

 .pet_nome {
    position: absolute;
    bottom: 0;
    background-color: white;
    
    color: rgba(0, 0, 255, 0.645);
    width: 100%;
    height: 25%;
   margin-top: 3px;
   font-size: x-large;
   font-weight: bold;

    /* padding-left: 20px; */
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    
    

}

.div_itens {
   display: flex;
}

.pet_cidade {
    color: rgb(170, 170, 170);
    font-size: medium;
    font-weight: 400;
   
}



.container_2 {
    margin-top: 3%;
    display: flex;
    
}

.container_2 .pet_2 {
   
    margin-left: 2%;
    flex-direction: column;
    border-radius: 10px; 
    position: relative;
    width: 220px;
    height: 320px;
    display: flex;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
    
    
}

.container_2 .pet_2 img{
  
    width: 220px;
    border-radius: 10px; 
     height: 320px;
     

   
}

.container_2 .pet_2_2 {
   
    margin-left: 5.5%;
    flex-direction: column;
    border-radius: 10px; 
    position: relative;
    width: 220px;
    height: 320px;
    display: flex;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
    
    
}

.container_2 .pet_2_2 img{
    
    width: 220px;
    border-radius: 10px; 
    height: 320px;

}




.container_3 {
    margin-top: 3%;
    display: flex;
}

.container_3 .pet_3 {
   
    margin-left: 6%;
    flex-direction: column;
    border-radius: 10px; 
    position: relative;
    width: 220px;
    height: 320px;
    display: flex;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
    
    
}
/*
.container_3 .pet_3_3 {
   
    margin-left: 6%;
    flex-direction: column;
    border-radius: 10px; 
    position: relative;
    width: 220px;
    height: 320px;
    display: flex;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
    
}
.container_3 .pet_3 img{
    
      width: 220px;
    border-radius: 10px; 
     height: 320px;
   
} */

#btn_1 {
    
    background-color: rgba(0, 0, 255, 0.508);
    margin-bottom: 2%;
    width: 11%;
    margin-left: 44.5%;
    height: 5%;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    color: white;
  
}

#btn_1_2 {
    
    background-color: rgba(0, 0, 255, 0.508);
    margin-top: 2%;
    width: 11%;
    margin-left: 44.5%;
    height: 5%;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    color: white;
  
}



/* ---------------------------------- */


.container_4 {
    margin-top: 2%;
    display: flex;
    padding-bottom: 21.5%;
    
}

.container_4 .dica {
    
    margin-left: 1%;
    flex-direction: column;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    position: relative;
    width: 379px;
    height: 255px;
    display: flex;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
    
    
    
}

.container_4 .dica img{
    width: 379px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
     height: 255px;
 
}


.container_4 .dica1 {
   
    margin-left: 7.3%;
    flex-direction: column;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    position: relative;
    width: 379px;
    height: 255px;
    display: flex;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
    
   
    
}

.container_4 .dica1 img{
    
    width: 379px;
     border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
     height: 255px;
     
}
/* titulo */
.txt_1 {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.562);
    color: #0000ffa4;
    font-size: large;
    font-weight: bold;
    padding: 20px;
    
}
/* conteudo */
.txt_2 {
    font-size: large;
    font-weight: 400;
    color: rgb(126, 126, 126);

}

/* cadastro inicio */


  
    /* ------------------------------------------------------------------------------------ */
    /* .banner-login #div_erros_login {
      margin-top: 15px;
    }
    
    button {
      cursor: pointer;
    }
    

    
    input {
      height: 30px;
      
     
      border: 2px solid #1919c2;
      border-radius: 10px;
      
    }
    
    .btn {
      font-family: "Exo 2", sans-serif;
      border: 0;
      border-radius: 5px;
      font-weight: 600;
      font-size: 18px;
      padding: 10px 15px;
      color: white;
      background-color: #0000ff82;
      width: 120px;
      align-self: center;
  
    }
    
    form {
      display: flex;
      flex-direction: column;
  
    }
  
    .loading-div {
      width: 50px;
   
      margin: auto;
      display: none;
      
    }
    
    .loading-div img {
      height: 50px;
      width: 50px;
  
  
    }
     */
  
    /* cadastro final */

    
.btn_ver_mais {
    display: flex;
    margin-top: 3%;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: rgba(0, 0, 255, 0.508);
    border: 0.5px solid rgba(0, 0, 255, 0.61);
}


.btn_ver_mais3 , .btn_ver_mais2, .btn_ver_mais1, .btn_ver_mais  {
    margin: left;
    margin-top: 3%;
    /* margin-left: 45%; */
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: rgba(0, 0, 255, 0.508);
    border: 1px rgba(0, 0, 255, 0.508);
    margin-left: 3px;
    }

.btn_ver_mais1 {
    margin-left: 46%;
    

}

.btn_ver_mais {
    padding-bottom: 15px;
    height: 14px;
    width: 15px;
    margin-top: 55px;
    
}



.sequencia {
    display: flex;
    
}



footer {
    display: flex;
    justify-content: space-around;
    
    padding: 3%;
    background-color: rgba(0, 0, 255, 0.508);
    
    
}

